<div>
    <div class="banner-layer banner-container">
        <div class="banner-layer">
            <div class="banner-layer">
                <div class="banner-layer">
                    <div class="banner-layer">
                        <div class="banner-layer">
                            <div class="banner-layer">
                                <div class="banner-layer">
                                   <marquee> A floating banner text which keeps on rotating...</marquee>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>