
<div class="container mt-4"><h1>Angular Case Study</h1></div>
<hr>
<ul class="nav-bar">
 <li><a routerLink="/floating-banner">Floating banner</a> </li> 
 <li><a routerLink="/ecommerce-category-page">Ecommerce category page</a> </li> 
 <li><a routerLink="/input-output-sharing">Data sharing via input/output decorators</a> </li>
 <li><a routerLink="/service-data-sharing">Data sharing via service</a> </li> 
 <li><a routerLink="/student-marks">Students marks table</a> </li> 
 <li><a routerLink="/dynamic-loading">Dynamic loading</a> </li> 
</ul>
<hr>
<router-outlet></router-outlet>