<div class="app-container">

    <!-- <div class="container mt-4">
        <h1>Angular Case Study</h1>
    </div> -->
    <div class="nav-container">
        <hr>
        <ul class="nav-bar">
            <li routerLinkActive='link-active'>
                <a routerLink="/floating-banner">Floating banner</a>
            </li>
            <li routerLinkActive='link-active'>
                <a routerLink="/ecommerce-category-page">Ecommerce category page</a>
            </li>
            <li routerLinkActive='link-active'>
                <a routerLink="/input-output-sharing">Data sharing via input/output
                    decorators</a>
            </li>
            <li routerLinkActive='link-active'>
                <a routerLink="/service-data-sharing">Data sharing via service</a>
            </li>
            <li routerLinkActive='link-active'>
                <a routerLink="/student-marks">Students marks table</a>
            </li>
            <li routerLinkActive='link-active'>
                <a routerLink="/dynamic-loading">Dynamic loading</a>
            </li>
        </ul>
        <hr>
    </div>
    <router-outlet></router-outlet>

</div>