
<h1>Angular Case Study</h1>
<hr>
<ul class="nav-bar">
 <li><a routerLink="/floating-banner">Floating banner</a> </li> 
 <li><a routerLink="/ecommerce-category-page">Ecommerce Category Page</a> </li> 
 <li><a routerLink="/input-output-sharing">Data Sharing through @Input/@Output</a> </li>
 <li><a routerLink="/service-data-sharing">Data Sharing through service</a> </li> 
 <li><a routerLink="/student-marks">Students marks table</a> </li> 
 <li><a routerLink="/dynamic-loading">Dynamic Loading</a> </li> 
</ul>
<hr>
<router-outlet></router-outlet>