li {
    list-style: none;
}

ul {
    padding: 0;
    height: 150px;
    overflow-y: overlay;
}

.logs-container {
    text-align: center;
    font-size: 12px;
    min-height: 200px;
    padding: 10px;
}