<div class="container">
    <div class="input-group">
        <input type="number" class="form-control" [(ngModel)]="timerInputValue" #timer="ngModel">
        <div class="input-group-append">
            <button class="btn btn-light ml-1" (click)="updateState()">
                start/pause
            </button>
            <button class="btn btn-light ml-1" (click)="reset()">
                reset
            </button>
        </div>
    </div>
    <br><br>
    <h6> Started at : {{startvalue}}</h6>
    <h6> Paused at : {{pausevalue}}</h6>

</div>